    /*ASSIGNMENT 4 WEB COMPONENTS*/
 /*i can't run this css in template*/
 
 /* #main{            
            background-color:#00275E;
            width: 350px;
            height:200px;
            position: fixed;
            right: 20px;
            top : 20px;           
            border:10px solid #e5c100;         
            border-radius: 10px;
    }    
    #second{
            margin-top: 2em;
            background-color:silver;
            color:black;
            font-family: Arial;
            font-size: 12px;
            text-align: left;
            
        }
        #dueDate{
            color:black;
            font-family: "Comic Sans MS";
            font-size: 12px;
            text-align: center;
        }
         */